/* === GLOBAL === */

body {
	font-family: 'Domine', sans-serif;
	font-weight: 300;
	font-size:16px;
	background-color: #f8f8f8;
	}

h1  {font-family: 'Oswald', sans-serif;
	font-weight: 800;
font-size:3em;
text-transform: uppercase;
line-height: 1.4em}

h3 {font-size: 1.3em;
line-height: 1.6;}

a {color:#e73e0d;
	text-decoration: underline;}

ul li, ol li {margin-bottom:15px;}

b {font-weight: 800}

/* === LOGO === */

#logo {text-align: center}

.logo-ashoka {
  width: 109px;
  height: 96px;
  object-fit: contain;
  margin-top:3em;

}

table tr td {padding:6px;
	vertical-align: top;
width: 50%}

table tr td h4 {margin-top: 0}
/* === více o nás === */

#rozbal {padding-top:20px;
padding-left:30px;
padding-right:30px;
text-align: left;
line-height: 1.6em}

.cervena {background-color: #e73e0d}

/* === PANELY === */

.panel-default {
   border:0;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(224, 224, 224, 0.7);
}

.panel-default>.panel-heading
{background: #f8f8f8;
  font-size: 48px;
  line-height: 1.13;
  text-align: center;
}

.panel-default>.panel-heading h1 {
	margin:0;
	padding:0;
	font-size:48px;}

.panel-body {
	padding:0;
	padding-bottom:32px;
min-height: 550px}

.panel-body img {

	margin-bottom:25px;
max-width: 100%}

.panel-body h4 {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size:1.4em;
	text-align: center;
	margin-bottom: 15px;
	line-height: 1.6em;
}

.panel-body p {
	text-align: center;
	margin:0 40px;
	line-height: 1.44;
	font-size: 1em;
	margin-bottom: 32px;
}

.panel-body .btn-default {
	border-radius: 4px;
  background-color: #343434;
  color: #fff;
  font-weight: 400;

}

.panel-body .btn-lg {font-size: 16px}

.rok2015 {color: #fecc2f;}
.rok2016 {color: #00aeb5;}
.rok2017 {color: #e73e0d;}

.activepanel1 {border:1px solid #fecc2f;}
.activepanel2 {border:1px solid #00aeb5}
.activepanel3 {border:1px solid #e73e0d}

/* === FOOTER === */
  

 .footer {background-color: #343434;
 	color:#fff;
 	padding-top:40px;
	margin-bottom:0;
	line-height: 2em;}

.footer p a {color:#fff;}	

.footer span {color:#e73e0d;}


 .footer h2 {font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size:1.8em;
	text-align: center;
	margin-bottom: 40px;}


#pridejte {background-color: #e73e0d;
border:0;
width:340px;
margin-top: 40px;
font-weight: 400;
}
#pridejte a {display: block;
color: #fff}

#pridejte {color: #fff}

#pridejte .btn-default a {color: #fff}

.logo-small {
	margin-top:40px;
	margin-bottom: 40px}


/* === OBSAH === */

.obsah {background-color: #fff;width:100%;}

#service-one {border-top: 4px solid #fecc2f;}
#service-two {border-top: 4px solid #00aeb5;}
#service-three {border-top: 4px solid #e73e0d;}

.text-obsahu {
	padding-top:40px;
	padding-bottom:40px;
	line-height:1.6em;}

.text-obsahu hr {width:20em;}

.text-obsahu .perex {font-size:1.3em;
line-height: 1.8em;}

.text-obsahu img {
	max-width: 100%;
margin-bottom:40px}


.text-obsahu h1, .text-obsahu h2, .text-obsahu h3, .text-obsahu h4, .text-obsahu h5   {
	font-family: 'Oswald', sans-serif;
	font-weight: 800;}

.text-obsahu h3, .text-obsahu h4, .text-obsahu h5  {font-size:1.3em;line-height: 1.6em}

.text-obsahu h3 {text-transform: uppercase;}

/* === pridejte se === */
.modal-header, .modal-header h4, .close {
      background-color: #e73e0d;
      color:white !important;
      text-align: center;
 font-size: 1.4em;
  }
  .modal-footer {
      background-color: #f9f9f9;
      text-align: center;
      font-size: 0.7em;
      line-height: 1.6em;
  }

  .modal-content {color:#000;}